.App {
  font-family: sans-serif;
  text-align: center;
  cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
      39 39,
    auto;
}

.light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}

.traffic-light {
  width: 120px;
  padding: 5px;
  margin: 5px;
  background-color: #888;
  border: dashed 1px #666;
  display: inline-block;
}
